

<div ng-app="myApp">
<div ng-controller="MainCtrl">



<!-- <input ng-model="filename"/> -->


Data extrapolation: <input type="checkbox" ng-model="extrapolationToggle">
<slider ng-show="startingYear" ng-model="year" floor="{{startingYear}}" ceiling="{{endingYear}}" step=1></slider>
<button ng-bind="buttonText" ng-click="play()"></button>

<select ng-model="goal" ng-options="goal.description for goal in goals"></select>
<select ng-model="targetDataset" ng-options="dataset.name for dataset in datasets |filter:{number: goal.number}"></select>
{{targetDataset.src}}


<map data="filename" year="year" dataset="targetDataset" country="zoomToCountry" my-startyear="startingYear" my-endyear="endingYear" extrapolation-toggle="extrapolationToggle"></map>
<div id="map"></div>
Country: <input ng-model="zoomToCountry"/>
{{zoomToCountry}}




<!-- <svg ng-repeat="circle in circles" height="100" width="100">
  <circle cx="50" cy="50" r="{{circle}}" fill="red"/>
</svg> -->


</div>
</div>