<div ng-app="myApp">
<div ng-controller="MainCtrl">



<!-- <input ng-model="filename"/> -->

<div class = "container">

	<div class="row">
		 <div class="small-2 large-2 columns">

		 	<select ng-model="goal" ng-options="goal.description for goal in goals"></select>
			<select ng-model="targetDataset" ng-options="dataset.name for dataset in datasets |filter:{number: goal.number}"></select>

			<div>Country: <input ng-model="zoomToCountry"/></div>

			<div ng-show="startingYear" id="countrydata" class ="panel">
				<p>{{goal.description}}</p>
				<p>{{targetDataset.name}}</p>
			</div>

		
		</div>

		<div class="small-4 large-10 columns">

			<map data="filename" year="year" dataset="targetDataset" country="zoomToCountry" my-startyear="startingYear" my-endyear="endingYear" extrapolation-toggle="extrapolationToggle" target-country="targetCountry"></map>
			<div id="map"></div>

	

		</div>
	</div>
	<div class = "row" ng-show="startingYear">

		<div class = "large-7 column">
			<slider ng-model="year" floor="{{startingYear}}" ceiling="{{endingYear}}" step=1></slider>
		</div>
		<div class = "large-1 column">
			Data extrapolation: <input type="checkbox" ng-model="extrapolationToggle">
		</div>
		<div class = "large-2 column">
			<button ng-bind="buttonText" ng-click="play()" class="button radius"></button>
		</div>

	</div>


</div>

<chart dataset="targetDataset" target-country="targetCountry"></chart>
<div id="chart"></div>


</div>
</div>




</div>
</div>