<div ng-app="myApp">
<div ng-controller="MainCtrl">



<div id="container">
	<div id="content">
		<div class="row">
			<div class="small-2 columns">
			 	<select ng-model="goal" ng-options="goal.description for goal in goals"><option value="">Select Goal</option></select>
				<select ng-model="targetDataset" ng-options="dataset.name for dataset in datasets |filter:{number: goal.number}"><option value="">Select Indicator</option></select>

				<input ng-model="targetDataset" type="text" placeholder= "Search for Indicator" typeahead= "dataset as dataset.name for dataset in datasets | filter:{name:$viewValue}" class="form-control"></input>

				<input ng-show="startingYear" ng-model="zoomToCountry" type="text" placeholder= "Search for Country" typeahead="country for country in countryList | filter:$viewValue | limitTo:8" class="form-control"></input>

				<div ng-show="startingYear" id="countrydata" class ="panel">
					<h6>Goal <small> {{goal.description}} </small></h6>
					<h6>Target: <small> {{targetDataset.target}} </small></h6>
					<h6>Indicator: <small> {{targetDataset.name}} </small></h6>
				</div>
			</div>

			<div class="small-10 columns" id="mapcolumn">
				<map data="filename" year="year" dataset="targetDataset" country="zoomToCountry" my-startyear="startingYear" my-endyear="endingYear" extrapolation-toggle="extrapolationToggle" target-country="targetCountry" clicked-country="clickedCountry" min-dataset-value="minDatasetValue" max-dataset-value="maxDatasetValue"></map>
				<div id="map"></div>
				<div id="chartmodal" ng-show="showchart">
					<chart dataset="targetDataset" target-country="clickedCountry" clicked-country="clickedCountry" min-dataset-value="minDatasetValue" max-dataset-value="maxDatasetValue"></chart>
					<div id="chart"></div>
					<span>{{clickedCountry}}</span>
					<a href="#" class="button tiny" ng-click="closeChart()">Close</a>
				</div>
			</div>
		</div>

		<div class="row" ng-show="startingYear">
			<div class = "small-7 column">
				<slider ng-model="year" floor="{{startingYear}}" ceiling="{{endingYear}}" step=1></slider>
			</div>
			<div class = "small-1 column">
				Data extrapolation: 
					<!-- <div class="switch tiny">
			      <input id="x" name="switch-x" type="radio" ng-model="extrapolationToggle" value="true" checked>
			      <label for="x" onclick="">No</label>
			      <input id="x1" name="switch-x" type="radio" ng-model="extrapolationToggle" value="false">
			      <label for="x1" onclick="">yes</label>
			      <span></span>
			    </div> -->

	    	<input type="checkbox" ng-model="extrapolationToggle">
			</div>
			<div class = "small-2 column">
				<button ng-bind="buttonText" ng-click="play()" class="button radius"></button>
			</div>
		</div>
	</div>
</div>

	



 <!--  <script type="text/ng-template" id="myModalContent.html">
  	<h1>hello</h1>
    	<chart dataset="targetDataset" target-country="clickedCountry" clicked-country="clickedCountry"></chart>
			<div id="chart"></div>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
  </script> -->

  <!-- <button class="button" ng-click="open()">Open me!</button>
  <div ng-show="selected">Selection from a modal: {{ selected }}</div> -->


</div>
</div>
